@use '../vars' as v;
@use '../utils/' as u;

.admin {
  &__form {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    gap: 0.5rem;

    border: 1px solid v.$white-600;

    & button {
      border: 2px solid v.$black-100;
      display: block;
      border-radius: 0.2rem;
      font-size: 1rem;
      padding: 1em;
    }

    &_images {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;

      & img {
        width: 10%;
      }
    }

    & label {
      display: block;
      margin-bottom: 0.5rem;
      font-weight: 400;
      font-size: 0.8rem;
    }

    & input {
      display: block;
      width: 100%;
      line-height: 1.5;
      font-size: 1rem;
      border-radius: 0.2em;
      border: 1px solid v.$white-400;

      &:focus {
        outline: 2px solid transparent;
        outline-offset: 2px;
      }
    }
    &_container {
      width: min(100% - 2rem, 800px);
      margin-inline: auto;
      align-items: center;
    }
  }
}

.admin__item {
  display: flex;
  margin-inline: 0.25rem;
  padding: 0.5rem;
  gap: 0.5rem;
  display: flex;
  width: 100%;
  align-items: center;
  background-color: v.$white-100;
  border: 1px solid v.$black-200;
  border-radius: 0.5rem;
  box-shadow: v.$shadow-medium;

  @include u.breakpoint-down(desktop) {
    flex-direction: column;
  }

  & img {
    object-fit: cover;
    width: 30%;
    @include u.breakpoint-down(desktop) {
      width: 100%;
    }
    height: 24rem;
    border-top-left-radius: 0.5rem /* 8px */;
    border-top-right-radius: 0.5rem /* 8px */;
  }

  &_description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    line-height: 1.5;
  }
}
