@use '../vars' as v;
@use '../utils/' as u;

.footer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  width: v.$layoutWidth;
  background-color: v.$background-color;
  border-radius: 0.5rem;
  box-shadow: v.$shadow-medium;

  @include u.breakpoint-up(desktop) {
    justify-content: space-between;
    flex-direction: row;
    padding: 1rem;
  }

  & span {
    a {
      margin-inline: 0.5rem;
    }
  }

  & ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: v.$black-400;

    & li {
      margin-right: 1rem;

      @include u.breakpoint-up(desktop) {
        margin-right: 1.5rem;
      }
    }
  }

  & a,
  a:hover,
  a:focus,
  a:visited {
    color: v.$black-600;
  }

  & a:focus,
  a:hover {
    text-decoration: underline;
  }
}
