@use '../vars' as v;
@use '../utils/' as u;

.policy {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;

  & li {
    list-style: disc;
  }
  & h6 {
    margin-top: 1.5rem;
  }
  & h1 {
    margin: 1rem 0;
  }
  & p {
    text-indent: 0.5rem;
    word-break: keep-all;
    white-space: normal;
  }
  & a {
    padding: 0.2rem;
    text-decoration: underline;
  }

  @include u.breakpoint-down(desktop) {
    width: 100%;
  }
}
