@use '../vars' as v;
@use '../utils/' as u;

.single-product {
  display: grid;
  grid-template-columns: 5fr 7fr;
  grid-template-rows: 1fr;
  gap: 1rem;
  width: 100%;

  @include u.breakpoint-down(desktop) {
    display: flex;
    height: auto;
    flex-direction: column;
  }

  &__image {
    width: 100%;
    margin-right: 1rem;

    & img {
      width: 100%;
    }
  }
  & li {
    list-style: initial;
  }
  & h5 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  & blockquote {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
    border-left: 1px solid #ccc;
    padding-left: 1rem;
  }
  & __details {
    // min-width: 30%;
  }
}
