$background-color: hsl(206, 5%, 98%);
$fontSize: 16;
$layoutWidth: 90%;

$white-100: hsl(0, 0%, 98%);
$white-200: hsl(206, 5%, 90%);
$white-300: hsl(206, 5%, 80%);
$white-400: hsl(206, 5%, 65%);
$white-500: hsl(206, 5%, 50%);
$white-600: hsl(206, 5%, 35%);

$black-100: hsl(213, 20%, 9%);
$black-200: hsl(213, 23%, 8%);
$black-300: hsl(214, 21%, 6%);
$black-400: hsl(210, 21%, 6%);
$black-500: hsl(216, 22%, 4%);
$black-600: hsl(220, 18%, 3%);
$black-700: hsl(220, 27%, 2%);
$black-800: hsl(180, 20%, 1%);

$shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
$shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
$shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
