@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.first-card {
  @apply sm:row-span-2 h-screen sm:h-full;
}

.big-card {
  @apply rounded-3xl transition duration-1000 flex  items-end;
}
.big-card:hover {
  transform: scale(1.02);
}
.big-card-layout {
  @apply grid p-4 lg:px-40  gap-5 mt-10 sm:grid-cols-2 sm:grid-rows-2 sm:h-[140vh];
}
