@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl font-bold;
  }
  h3 {
    @apply font-bold;
  }
  input {
    @apply border-slate-200 border-2 w-full;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .first-card {
    @apply sm:row-span-2;
  }
  /* .second-card {
    @apply md:h-full;
  } */

  .big-card {
    @apply rounded-3xl  transition duration-1000 flex  items-end hover:scale-[101%] h-screen md:h-full;
  }

  .big-card-layout {
    @apply grid p-4   gap-5 mt-10 md:grid-cols-2 md:grid-rows-2 md:h-[140vh];
  }
}
